In [2]:
import pandas as pd
import numpy as np
from env import user, password, host

**acquire & summarize**  
1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

In [4]:
def get_connection(db, user=user, host=host, password=password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property ID's), along with zestimate error and date of transaction.
Only include properties that include a latitude and longitude value.
Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [59]:
sql_query = '''
            SELECT * FROM properties_2017
            JOIN predictions_2017 USING(parcelid)
            LEFT JOIN airconditioningtype USING(airconditioningtypeid)
            LEFT JOIN architecturalstyletype USING(architecturalstyletypeid)
            LEFT JOIN buildingclasstype USING(buildingclasstypeid)
            LEFT JOIN heatingorsystemtype USING(heatingorsystemtypeid)
            LEFT JOIN propertylandusetype USING(propertylandusetypeid)
            LEFT JOIN storytype USING(storytypeid)
            LEFT JOIN typeconstructiontype USING(typeconstructiontypeid)
            LEFT JOIN unique_properties USING(parcelid)
            WHERE latitude IS NOT null AND longitude IS NOT null;
            '''

In [60]:
df = pd.read_sql(sql_query, get_connection('zillow'))

In [14]:
df.head()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,id,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,0,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,1,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,2,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,12177905,NaN,NaN,261.0,2.0,NaN,NaN,NaN,2288172,NaN,...,3,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,10887214,NaN,NaN,266.0,2.0,NaN,NaN,1.0,1970746,NaN,...,4,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [16]:
df.shape

(77580, 69)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77580 entries, 0 to 77579
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77580 non-null  int64
 1   typeconstructiontypeid        223 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77580 non-null  float64
 4   heatingorsystemtypeid         49572 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      207 non-null    float64
 7   airconditioningtypeid         25007 non-null  float64
 8   id                            77580 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77580 non-null  float64
 11  bedroomcnt                    77580 non-null  float64
 12  buildingqualitytypeid         49810 non-null  float64
 13  calculatedbathnbr             76964 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6037 non-null   float64
 16  calculatedfinishedsquarefeet  77379 non-null  float64
 17  finishedsquarefeet12          73924 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6037 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77580 non-null  float64
 23  fireplacecnt                  8289 non-null   float64
 24  fullbathcnt                   76964 non-null  float64
 25  garagecarcnt                  25520 non-null  float64
 26  garagetotalsqft               25520 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77580 non-null  float64
 29  longitude                     77580 non-null  float64
 30  lotsizesquarefeet             69322 non-null  float64
 31  poolcnt                       16174 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15079 non-null  float64
 36  propertycountylandusecode     77580 non-null  object
 37  propertyzoningdesc            50477 non-null  object
 38  rawcensustractandblock        77580 non-null  float64
 39  regionidcity                  76108 non-null  float64
 40  regionidcounty                77580 non-null  float64
 41  regionidneighborhood          30974 non-null  float64
 42  regionidzip                   77530 non-null  float64
 43  roomcnt                       77580 non-null  float64
 44  threequarterbathnbr           10106 non-null  float64
 45  unitcnt                       50704 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77310 non-null  float64
 49  numberofstories               17599 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77465 non-null  float64
 52  taxvaluedollarcnt             77579 non-null  float64
 53  assessmentyear                77580 non-null  float64
 54  landtaxvaluedollarcnt         77578 non-null  float64
 55  taxamount                     77575 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77333 non-null  float64
 59  id                            77580 non-null  int64
 60  logerror                      77580 non-null  float64
 61  transactiondate               77580 non-null  object
 62  airconditioningdesc           25007 non-null  object
 63  architecturalstyledesc        207 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49572 non-null  object
 66  propertylandusedesc           77580 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          223 non-null    object
dtypes: float64(55), int64(3), object(11)
memory usage: 40.8+ MB

In [61]:
drop_cols = df.columns[59]
df.drop(labels=drop_cols, axis=1, inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77580 entries, 0 to 77579
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77580 non-null  int64
 1   typeconstructiontypeid        223 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77580 non-null  float64
 4   heatingorsystemtypeid         49572 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      207 non-null    float64
 7   airconditioningtypeid         25007 non-null  float64
 8   basementsqft                  50 non-null     float64
 9   bathroomcnt                   77580 non-null  float64
 10  bedroomcnt                    77580 non-null  float64
 11  buildingqualitytypeid         49810 non-null  float64
 12  calculatedbathnbr             76964 non-null  float64
 13  decktypeid                    614 non-null    float64
 14  finishedfloor1squarefeet      6037 non-null   float64
 15  calculatedfinishedsquarefeet  77379 non-null  float64
 16  finishedsquarefeet12          73924 non-null  float64
 17  finishedsquarefeet13          42 non-null     float64
 18  finishedsquarefeet15          3027 non-null   float64
 19  finishedsquarefeet50          6037 non-null   float64
 20  finishedsquarefeet6           386 non-null    float64
 21  fips                          77580 non-null  float64
 22  fireplacecnt                  8289 non-null   float64
 23  fullbathcnt                   76964 non-null  float64
 24  garagecarcnt                  25520 non-null  float64
 25  garagetotalsqft               25520 non-null  float64
 26  hashottuborspa                1539 non-null   float64
 27  latitude                      77580 non-null  float64
 28  longitude                     77580 non-null  float64
 29  lotsizesquarefeet             69322 non-null  float64
 30  poolcnt                       16174 non-null  float64
 31  poolsizesum                   869 non-null    float64
 32  pooltypeid10                  465 non-null    float64
 33  pooltypeid2                   1074 non-null   float64
 34  pooltypeid7                   15079 non-null  float64
 35  propertycountylandusecode     77580 non-null  object
 36  propertyzoningdesc            50477 non-null  object
 37  rawcensustractandblock        77580 non-null  float64
 38  regionidcity                  76108 non-null  float64
 39  regionidcounty                77580 non-null  float64
 40  regionidneighborhood          30974 non-null  float64
 41  regionidzip                   77530 non-null  float64
 42  roomcnt                       77580 non-null  float64
 43  threequarterbathnbr           10106 non-null  float64
 44  unitcnt                       50704 non-null  float64
 45  yardbuildingsqft17            2393 non-null   float64
 46  yardbuildingsqft26            70 non-null     float64
 47  yearbuilt                     77310 non-null  float64
 48  numberofstories               17599 non-null  float64
 49  fireplaceflag                 172 non-null    float64
 50  structuretaxvaluedollarcnt    77465 non-null  float64
 51  taxvaluedollarcnt             77579 non-null  float64
 52  assessmentyear                77580 non-null  float64
 53  landtaxvaluedollarcnt         77578 non-null  float64
 54  taxamount                     77575 non-null  float64
 55  taxdelinquencyflag            2900 non-null   object
 56  taxdelinquencyyear            2900 non-null   float64
 57  censustractandblock           77333 non-null  float64
 58  logerror                      77580 non-null  float64
 59  transactiondate               77580 non-null  object
 60  airconditioningdesc           25007 non-null  object
 61  architecturalstyledesc        207 non-null    object
 62  buildingclassdesc             15 non-null     object
 63  heatingorsystemdesc           49572 non-null  object
 64  propertylandusedesc           77580 non-null  object
 65  storydesc                     50 non-null     object
 66  typeconstructiondesc          223 non-null    object
dtypes: float64(55), int64(1), object(11)
memory usage: 39.7+ MB

In [21]:
df.describe()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,basementsqft,bathroomcnt,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,logerror
count,7.758000e+04,223.000000,50.0,77580.000000,49572.000000,15.000000,207.000000,25007.000000,50.000000,77580.000000,...,17599.000000,172.0,7.746500e+04,7.757900e+04,77580.0,7.757800e+04,77575.000000,2900.000000,7.733300e+04,77580.000000
mean,1.300828e+07,6.040359,7.0,261.824465,3.921811,3.933333,7.386473,1.812013,679.720000,2.298492,...,1.434286,1.0,1.892796e+05,4.901476e+05,2016.0,3.011500e+05,5995.927626,14.088276,6.049667e+13,0.016800
std,3.519376e+06,0.556035,0.0,5.141564,3.594770,0.258199,2.728030,2.965768,689.703546,0.996726,...,0.544515,0.0,2.304095e+05,6.537942e+05,0.0,4.927219e+05,7628.816490,2.181281,1.533329e+12,0.170739
min,1.071186e+07,4.000000,7.0,31.000000,1.000000,3.000000,2.000000,1.000000,38.000000,0.000000,...,1.000000,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,-4.655420
25%,1.153820e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,273.000000,2.000000,...,1.000000,1.0,8.417100e+04,2.068990e+05,2016.0,8.529325e+04,2712.650000,14.000000,6.037311e+13,-0.024310
50%,1.253056e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,515.000000,2.000000,...,1.000000,1.0,1.364020e+05,3.588780e+05,2016.0,2.031810e+05,4448.230000,15.000000,6.037603e+13,0.006675
75%,1.421135e+07,6.000000,7.0,266.000000,7.000000,4.000000,7.000000,1.000000,796.500000,3.000000,...,2.000000,1.0,2.187340e+05,5.690000e+05,2016.0,3.667398e+05,6926.885000,15.000000,6.059042e+13,0.039291
max,1.676893e+08,13.000000,7.0,275.000000,24.000000,4.000000,21.000000,13.000000,3560.000000,18.000000,...,6.000000,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,5.262999

In [23]:
missing_row_percent = (df.isnull().sum() * 100 / len(df))
missing_row_percent

parcelid                   0.000000
typeconstructiontypeid    99.712555
storytypeid               99.935550
propertylandusetypeid      0.000000
heatingorsystemtypeid     36.102088
                            ...
buildingclassdesc         99.980665
heatingorsystemdesc       36.102088
propertylandusedesc        0.000000
storydesc                 99.935550
typeconstructiondesc      99.712555
Length: 67, dtype: float64

In [25]:
missing_row_raw = df.isnull().sum()
missing_row_raw

parcelid                      0
typeconstructiontypeid    77357
storytypeid               77530
propertylandusetypeid         0
heatingorsystemtypeid     28008
                          ...
buildingclassdesc         77565
heatingorsystemdesc       28008
propertylandusedesc           0
storydesc                 77530
typeconstructiondesc      77357
Length: 67, dtype: int64

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [28]:
def rows_missing(df):
    missing_row_percent = (df.isnull().sum() / len(df)) * 100
    missing_row_raw = df.isnull().sum()
    missing_df = pd.DataFrame({'num_rows_missing' : missing_row_raw, 'pct_rows_missing' : missing_row_percent})
    return missing_df

In [29]:
rows_missing(df)

                        num_rows_missing  pct_rows_missing
parcelid                               0          0.000000
typeconstructiontypeid             77357         99.712555
storytypeid                        77530         99.935550
propertylandusetypeid                  0          0.000000
heatingorsystemtypeid              28008         36.102088
...                                  ...               ...
buildingclassdesc                  77565         99.980665
heatingorsystemdesc                28008         36.102088
propertylandusedesc                    0          0.000000
storydesc                          77530         99.935550
typeconstructiondesc               77357         99.712555

[67 rows x 2 columns]

4. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [41]:
def cols_missing(df):
    num_cols_missing = df.isnull().sum(axis=1)
    pct_cols_missing = df.isnull().sum(axis=1)/df.shape[1]*100
    missing_cols_df = pd.DataFrame({'num_cols_missing': num_cols_missing, 'pct_cols_missing': pct_cols_missing}).reset_index().groupby(['num_cols_missing','pct_cols_missing']).count().rename(index=str, columns={'index': 'num_rows'}).reset_index()
    return missing_cols_df

In [42]:
missing_cols = cols_missing(df)
missing_cols

   num_cols_missing    pct_cols_missing  num_rows
0                23   34.32835820895522         2
1                24   35.82089552238806        13
2                25    37.3134328358209        24
3                26   38.80597014925373        66
4                27  40.298507462686565       316
5                28    41.7910447761194       457
6                29   43.28358208955223      5285
7                30  44.776119402985074      3465
8                31   46.26865671641791      9911
9                32   47.76119402985074     12606
10               33   49.25373134328358     14819
11               34   50.74626865671642     13358
12               35   52.23880597014925      5163
13               36   53.73134328358209      5793
14               37  55.223880597014926      3630
15               38   56.71641791044776      1932
16               39    58.2089552238806       285
17               40   59.70149253731343       230
18               41   61.19402985074627        29
19               42   62.68656716417911        27
20               43   64.17910447761194        29
21               44   65.67164179104478        79
22               45   67.16417910447761        50
23               46   68.65671641791045         5
24               47    70.1492537313433         3
25               48   71.64179104477611         3

### Prepare
1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

In [62]:
df = df[df.propertylandusetypeid.isin([260, 261, 262, 279])]
df.shape

(52484, 67)

In [63]:
df = df[(df.bedroomcnt > 0) & (df.bathroomcnt > 0)]
df.shape

(52300, 67)

In [49]:
df.unitcnt.isnull().sum()

18485

In [65]:
df.unitcnt = df.unitcnt.fillna(1.0)

In [66]:
(df.unitcnt != 1.0).sum()

32

In [64]:
df = df.drop(columns=["propertylandusetypeid", "heatingorsystemtypeid"])
df.shape

(52300, 65)

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

In [67]:
def handle_missing_values(df, prop_required_column = .60, prop_required_row = .60):
    threshold = int(round(prop_required_column*len(df.index),0))
    df.dropna(axis=1, thresh=threshold, inplace=True)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df

In [68]:
df = handle_missing_values(df)

In [69]:
df.shape

(52300, 31)

In [70]:
df.head()

,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,heatingorsystemdesc,propertylandusedesc
0,14297519,3.5,4.0,NaN,3.5,3100.0,3100.0,6059.0,3.0,33634931.0,...,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,0.025595,2017-01-01,None,Single Family Residential
1,17052889,1.0,2.0,NaN,1.0,1465.0,1465.0,6111.0,1.0,34449266.0,...,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01,None,Single Family Residential
2,14186244,2.0,3.0,NaN,2.0,1243.0,1243.0,6059.0,2.0,33886168.0,...,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01,None,Single Family Residential
3,12177905,3.0,4.0,8.0,3.0,2376.0,2376.0,6037.0,3.0,34245180.0,...,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01,Central,Single Family Residential
6,12095076,3.0,4.0,9.0,3.0,2962.0,2962.0,6037.0,3.0,34145202.0,...,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,-0.001011,2017-01-01,Central,Single Family Residential

3. Decide how to handle the remaining missing values:

In [71]:
df.isnull().sum().sort_values(ascending=False)

buildingqualitytypeid           18575
propertyzoningdesc              18513
heatingorsystemdesc             18380
regionidcity                     1029
lotsizesquarefeet                 359
finishedsquarefeet12              166
censustractandblock               116
structuretaxvaluedollarcnt         74
yearbuilt                          40
regionidzip                        23
calculatedbathnbr                  16
fullbathcnt                        16
calculatedfinishedsquarefeet        8
taxamount                           4
landtaxvaluedollarcnt               1
taxvaluedollarcnt                   1
latitude                            0
bedroomcnt                          0
fips                                0
bathroomcnt                         0
propertylandusedesc                 0
longitude                           0
propertycountylandusecode           0
rawcensustractandblock              0
regionidcounty                      0
roomcnt                             0
unitcnt                             0
assessmentyear                      0
logerror                            0
transactiondate                     0
parcelid                            0
dtype: int64

In [72]:
df.heatingorsystemdesc.isnull().sum()

18380

In [73]:
df.heatingorsystemdesc.value_counts(dropna=False)

Central       20731
NaN           18380
Floor/Wall    12555
Forced air      517
Solar            85
None             16
Baseboard         7
Radiant           6
Gravity           2
Yes               1
Name: heatingorsystemdesc, dtype: int64

In [74]:
df.heatingorsystemdesc = df.heatingorsystemdesc.fillna('None')

In [75]:
df = df.drop(columns=['propertyzoningdesc'])

In [76]:
df = df.drop(columns=['calculatedbathnbr'])

In [77]:
df.isna().sum().sort_values(ascending=False).head(10)

buildingqualitytypeid           18575
regionidcity                     1029
lotsizesquarefeet                 359
finishedsquarefeet12              166
censustractandblock               116
structuretaxvaluedollarcnt         74
yearbuilt                          40
regionidzip                        23
fullbathcnt                        16
calculatedfinishedsquarefeet        8
dtype: int64

In [78]:
from sklearn.model_selection import train_test_split

train_and_validate, test = train_test_split(df, test_size=.2, random_state=123)
train, validate = train_test_split(train_and_validate, test_size=.3, random_state=123)

In [80]:
cols = [
    'buildingqualitytypeid',
    'regionidcity',
    'regionidzip',
    'yearbuilt',
    'censustractandblock'
]

for col in cols:
    mode = int(train[col].mode())
    train[col].fillna(value=mode, inplace=True)
    validate[col].fillna(value=mode, inplace=True)
    test[col].fillna(value=mode, inplace=True)

In [81]:
train.isnull().sum().sort_values(ascending=False).head(10)

lotsizesquarefeet               186
finishedsquarefeet12             93
structuretaxvaluedollarcnt       42
fullbathcnt                      11
calculatedfinishedsquarefeet      4
taxamount                         3
landtaxvaluedollarcnt             1
taxvaluedollarcnt                 1
propertylandusedesc               0
propertycountylandusecode         0
dtype: int64

In [84]:
cols = [
    'structuretaxvaluedollarcnt',
    'taxamount',
    'taxvaluedollarcnt',
    'landtaxvaluedollarcnt',
    'structuretaxvaluedollarcnt',
    'finishedsquarefeet12',
    'calculatedfinishedsquarefeet',
    'fullbathcnt',
    'lotsizesquarefeet'
]

for col in cols:
    median = train[col].median()
    train[col].fillna(value=median, inplace=True)
    validate[col].fillna(value=median, inplace=True)
    test[col].fillna(value=median, inplace=True)

In [85]:
train.isnull().sum().sort_values(ascending=False).head(10)

propertylandusedesc             0
regionidcity                    0
bathroomcnt                     0
bedroomcnt                      0
buildingqualitytypeid           0
calculatedfinishedsquarefeet    0
finishedsquarefeet12            0
fips                            0
fullbathcnt                     0
latitude                        0
dtype: int64

In [86]:
train.to_csv('zillow_train.csv')
validate.to_csv('zillow_validate.csv')
test.to_csv('zillow_test.csv')